extends layout

block content
    //<img src="/../uploads/1557753934582-photo-93916487_365136632111.jpg" alt="asd">
    //img(src='/../uploads/1557753934582-photo-93916487_365136632111.jpg', alt='asasd')
    .articlebck
        .container
            .row.pt-5.pb-5
                .col-md-6
                    h1= article.title
                    p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                        strong.d-block.text-gray-dark #{user.lastName} #{user.firstName}
                    br
                    p= article.body
                    a.btn.btn-outline-light.mt-1(href="/articles/edit/" + article._id)
                        <i class="fas fa-edit"> &nbsp; Өзгерту</i>
                    a.btn.btn-outline-light.mt-1.ml-3.delete-art-btn(href="#", data-id=article._id)
                        <i class="fas fa-eraser"> &nbsp; Жою</i>
                    a.btn.btn-outline-light.mt-1.ml-3.delete-art-btn(href="#", data-id=article._id)
                        <i class="fas fa-user-graduate"> &nbsp; Курс студенттері</i>
                .col-md-6
                    // - let imgpath= article.articleImage
                    // p= imgpath
                    // p= immp
                    //img(src=immp, alt="asd")
