extends layout

block content
    .container
        .row
            .col-md-12
                form.form-signin(method="POST", action="/users/edit/"+user._id)
                    h1.h3.mb-3.font-weight-normal.text-center Пайдаланушы профилін өзгерту
                    .logo-anim
                        i.fas.fa-spinner.fa-spin.fa-5x
                    .input-group.mb-3
                        .custom-file
                            input#inputGroupFile01.custom-file-input(type="file", name="avatar")
                            label.custom-file-label Сурет жүктеу


                    input.form-control(name="username", type='text', placeholder='Пайдаланушы аты', value=user.username)
                    input.form-control(name="email", type='email', placeholder='Электронды пошта', value=user.email)
                    .alert.alert-danger(role='alert') Пайдаланушы аты мен электронды пошта өзгертуге болмайды
                    input.form-control(name="firstName", type='text', placeholder='Есіміңіз', autofocus="true", value=user.firstName)
                    input.form-control(name="lastName", type='text', placeholder='Тегіңіз', value=user.lastName)
                    input.form-control(name="dateBirth", type='date', placeholder='Туған күніңіз', value=user.dateBirth)
                    if user.role = "teacher"
                        select.custom-select(name="role", value=user.role)
                            option(value="") Пайдаланушы рөлін таңдаңыз
                            option(value="student") Студент
                            option(value="teacher", selected= true) Мұғалім
                    else if user.role = "student"
                        select.custom-select(name="role", value=user.role)
                            option(value="") Пайдаланушы рөлін таңдаңыз
                            option(value="student", selected= true) Студент
                            option(value="teacher") Мұғалім
                    button.btn.btn-lg.btn-primary.btn-block.mt-4(type='submit') Өзгертуді сақтау
